<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | SeekCareer</title>

    <link rel="stylesheet" href="./../static/css/home.css">
    <link rel="stylesheet" href="./../static/css/global.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body class="allJobsPage">

    <header>
        <nav class="nav">
            <img class="nav__logo" src="./../static/images/logo.svg" alt="">
            <ul class="nav__items">
                <li class="nav__item "><a href="./index.html">Home</a></li>
                <li class="nav__item active"><a href="./allJobs.html">All Jobs</a></li>
                <li class="nav__item"><a href="./login.html">Login</a></li>
                <li class="nav__item"><a href="./signup.html">Signup</a></li>
                <!-- <li class="nav__item"><a href="./index.html">Logout</a></li> -->
            </ul>
        </nav>
    </header>

    <div class="allJobs">
        <center>
            <h2>Recommended Jobs</h2>
        </center>
        <div class="jobsContainer">
            <div class="job">
                <p class="job__title">Data Scientist</p>
                <div class="job__meta">
                    <p class="job__company">Infovue</p>
                    <div class="circle"></div>
                    <p class="job__package">₹3.4LPA - ₹5.5LPA</p>
                </div>
                <p class="job__description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime vel aliquid ipsum autem esse a quis
                    recusandae voluptas repellendus cumque!
                </p>
                <a href="./applyJob.html"><button class="btn">Apply</button></a>
            </div>
            <div class="job">
                <p class="job__title">Data Scientist</p>
                <div class="job__meta">
                    <p class="job__company">Infovue</p>
                    <div class="circle"></div>
                    <p class="job__package">₹3.4LPA - ₹5.5LPA</p>
                </div>
                <p class="job__description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime vel aliquid ipsum autem esse a quis
                    recusandae voluptas repellendus cumque!
                </p>
                <a href="./applyJob.html"><button class="btn">Apply</button></a>
            </div>
            <div class="job">
                <p class="job__title">Data Scientist</p>
                <div class="job__meta">
                    <p class="job__company">Infovue</p>
                    <div class="circle"></div>
                    <p class="job__package">₹3.4LPA - ₹5.5LPA</p>
                </div>
                <p class="job__description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime vel aliquid ipsum autem esse a quis
                    recusandae voluptas repellendus cumque!
                </p>
                <a href="./applyJob.html"><button class="btn">Apply</button></a>
            </div>
            <div class="job">
                <p class="job__title">Data Scientist</p>
                <div class="job__meta">
                    <p class="job__company">Infovue</p>
                    <div class="circle"></div>
                    <p class="job__package">₹3.4LPA - ₹5.5LPA</p>
                </div>
                <p class="job__description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime vel aliquid ipsum autem esse a quis
                    recusandae voluptas repellendus cumque!
                </p>
                <a href="./applyJob.html"><button class="btn">Apply</button></a>
            </div>
            <div class="job">
                <p class="job__title">Data Scientist</p>
                <div class="job__meta">
                    <p class="job__company">Infovue</p>
                    <div class="circle"></div>
                    <p class="job__package">₹3.4LPA - ₹5.5LPA</p>
                </div>
                <p class="job__description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime vel aliquid ipsum autem esse a quis
                    recusandae voluptas repellendus cumque!
                </p>
                <a href="./applyJob.html"><button class="btn">Apply</button></a>
            </div>
            <div class="job">
                <p class="job__title">Data Scientist</p>
                <div class="job__meta">
                    <p class="job__company">Infovue</p>
                    <div class="circle"></div>
                    <p class="job__package">₹3.4LPA - ₹5.5LPA</p>
                </div>
                <p class="job__description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime vel aliquid ipsum autem esse a quis
                    recusandae voluptas repellendus cumque!
                </p>
                <a href="./applyJob.html"><button class="btn">Apply</button></a>
            </div>
        </div>
    </div>
    <div class="footer">
        Copyright &copy; to SeekCareer 2022
    </div>
    <script>
        window.watsonAssistantChatOptions = {
            integrationID: "54dc622d-eb09-465e-a3c9-7c7e2ab312e0", // The ID of this integration.
            region: "au-syd", // The region your integration is hosted in.
            serviceInstanceID: "cd3c3dec-2082-4170-8bdd-10b7587cb9bc", // The ID of your service instance.
            onLoad: function (instance) { instance.render(); }
        };
        setTimeout(function () {
            const t = document.createElement('script');
            t.src = "https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
            document.head.appendChild(t);
        });
    </script>
</body>

</html>