* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    padding: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.form_title {
    font-size: 24px;
    text-align: center;
    font-weight: 200;
    color: hsl(0, 0%, 0%);
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
    background-color: white;
    border-radius: 20px;
}

.input_container {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.input_label {
    font-size: 12px;
    color: gray;
}

input,
select {
    border: 1px solid rgb(189, 189, 189);
}

.input {
    padding: 5px 8px;
    font-size: 16px;
}

.input_select {
    padding: 8px;
}

button.btn {
    background-color: hsl(32, 100%, 50%);
    color: white;
    padding: 12px 12px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;  
}

button.btn:hover {
    box-shadow: 0px 0p 12px rgba(0, 0, 0, 0.224);
    color: white;

    background-color: hwb(27 0% 0%);
}

.logo {
    width: 200px;
}

a {
    color: #ff8a00;
    text-decoration: none;
}

a:hover {
    color: orangered;
}
