* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    padding: 10px 30px;
    max-width: 1024px;
    margin: auto;
}

/* links */
a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: #ff8a00;
}

/* button */
button.btn {
    background-color: hsl(32, 100%, 50%);
    color: white;
    padding: 12px 12px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    /* border-radius: 4px; */
}

button.btn:hover {
    box-shadow: 0px 0p 12px rgba(0, 0, 0, 0.224);
    color: white;

    background-color: hwb(27 0% 0%);
}

h2 {
    font-size: 32px;
    font-weight: 200;
    margin-bottom: 30px;
}

/* navigation */

.nav {
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
}
.nav__logo {
    /* background-color: orange; */
    width: 200px;
}
.nav__items {
    /* background-color: rgb(215, 215, 215); */
    display: flex;
    align-items: center;
    gap: 20px;
    list-style-type: none;
}
.nav__item {
}

.nav__item.active a {
    color: #ff8a00;
}

/* jobs container */
.jobsContainer {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.allJobs {
    margin: 100px 0;
}
.job {
    background-color: rgba(246, 246, 246, 0.311);
    padding: 20px;
    max-width: 48%;
    border: 1px solid rgb(237, 237, 237);
}
.job__title {
    font-size: 20px;
    font-weight: 300;
}
.job__meta {
    display: flex;
    gap: 10px;
    font-size: 12px;
    color: rgb(75, 75, 75);
    margin-top: 8px;
}
.job__company {
}
.job__package {
}
.job__description {
    margin-top: 16px;
    font-size: 14px;
    line-height: 1.5;
    font-size: ;
    color: rgb(101, 101, 101);
}
.job .btn {
    color: #ff8a00;
    border: 1px solid #ff8a00;
    background-color: transparent;

    padding: 10px 30px;
    margin-top: 20px;
}

/* alljobspage */
.allJobsPage .allJobs {
    margin-top: 50px;
}

.footer {
    background-color: rgba(246, 246, 246, 0.311);
    border-top: 1px solid gray;
    padding: 20px 0;
    text-align: center;
    color: gray;
}

@media screen and (max-width: 768px) {
    .allJobs {
        margin: 100px 0;
    }
    .job {
        background-color: rgba(246, 246, 246, 0.311);
        padding: 20px;
        max-width: 100%;
        border: 1px solid rgb(237, 237, 237);
    }
}
